<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='semantic/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
  </head>
  <body>
    <!-- block for nav if user is authenticated -->
    <div class="ui tiny menu">
      <a href="{{url_for('index')}}" class="item">Home</a>
      <a href="{{url_for('todo')}}" class="item">Todo list</a>
      <a href="{{url_for('upload')}}" class="item">File upload</a>
      <a href="{{url_for('about')}}" class="item">About</a>
      <div class="right menu">
        {% if "auth" in session %}
          <div class="item">
            <a href="{{url_for('logout')}}" style="margin:0px">
              <button class="ui primary button">
                Logout
              </button>
            </a>
          </div>
        {% else %}
          <div class="item">
            <a href="{{url_for('login')}}" style="margin:0px">
              <button class="ui primary button">
                Login
              </button>
            </a>
          </div>
        {% endif %}
      </div>
    </div>

    <!-- Block for flash message -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}
    <!-- Block for content -->
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" src="{{ url_for('static',filename='jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='semantic/semantic.min.js') }}"></script>
  </body>
</html>
