{% extends 'default.html'%}

{% block content %}
  <h2>Login</h2>
  <h4>
    {% if error %}
      <span style="color:red">{{ error }}</span>
    {% endif %}
  </h4>
  <div class="ui two column centered grid">
    <div class="column">
      <form method="post" action="">
        <div class="ui tiny form">
          <div class="two fields">
            <div class="field">
              <label>Username</label>
              <input type="text" name="username" placeholder="Your username">
            </div>
            <div class="field">
              <label>Pasword</label>
              <input type="password" name="password" placeholder="Enter your password">
            </div>
          </div>
          <button class="ui teal submit button">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
