{% extends 'default.html'%}

{% block content %}
  <h2>Your uploaded files</h2>
  <form method="POST" enctype = "multipart/form-data">
    <input type="file" name="fichier">
    <input type="submit" value="Send file">
  </form>
  {% if fichiers|length > 0 %}
    <table border="2">
      <tr>
        <td>File name</td>
        <td>Action</td>
      </tr>
      {% for key,val in fichiers.items() %}
        <tr>
          <td>{{ key }}</td>
          <td><a href="{{ url_for('download',p=key) }}">Download</a></td>
        <tr>
      {% endfor %}
  {% else %}
    <p>File upload folder is empty</p>
  {% endif %}
{% endblock %}
