{% extends 'default.html'%}

{% block content %}
  <h2>Wheather of your location </h2>
  </style>
  <div class="ui two column centered grid">
    <div>
      <div class="ui link cards">
        <div class="card">
          <div class="image">
            <h2>{{ip.city}}, {{ip.country}}</h2>
          </div>
          <div class="content">
            <div class="header">Date : {{get_date(meteo.currently.time)}}</div>
            <div class="header">Summary {{meteo.currently.summary}}</div>
            <div class="meta">
              <a>Temperature {{meteo.currently.temperature}} °F</a>
            </div>
            <div class="meta">
              <a>Humidity {{meteo.currently.humidity}}</a>
            </div>
            <div class="description">
              {{meteo.daily.summary}}
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              {{ meteo.hourly.summary }}
            </span>
            <span>
              <i class="marker icon"></i>
              {{ip.countryCode}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
